.page .container {
    background: var(--very-pale-blue);
}

.page .container .middle .text h1,
.page .container .middle .change .change-text h2 {
    color: var(--Dark-blue);
}

.page .container .middle .text p,
.page .container .middle .change .change-text p,
.page .container .bottom .btn-cancel {
    color: var(--Desaturated-blue);
}

.page .container .middle .change {
    background: var(--Desaturated-blue-transparent);
}

.page .container .middle .change a {
    color: var(--bright-blue);
}

.page .container .middle .change a:hover {
    color: #20159c;
}


.page .container .bottom .btn-proceed {
    background: var(--bright-blue);
    color: var(--very-pale-blue);
}

.page .container .bottom .btn-proceed a:hover {
    color:  hsl(230, 5%, 75%);
    cursor: pointer;
}

.page .container .bottom .btn-cancel a:hover {
    color: var(--bright-blue);
    cursor: pointer;
}