/* body (background) */
body {
    background: var(--pale-blue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

/* .page (alinhamento) */
.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 0.5rem;
}

/* .container */

.page .container {
    max-width: 45rem;
    overflow: hidden;
}

/* .container .top */

.page .container .top {
    margin-bottom: 4rem;
}

/* .middle text */

.page .container .middle .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.page .container .middle .text h1 {
    font-size: 2rem;
    font-weight: 900;
}

.page .container .middle .text p {
    margin: 0 auto;
    max-width: 28rem;
    line-height: 2.5rem;
    font-weight: 500;
    font-size: 1.7rem;
}

/* .middle change */
.page .container .middle .change img {
    max-width: 4.8rem;
}

.page .container .middle .change {
    max-width: 30.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem; 
    padding: 1.5rem;
    border-radius: 2rem;
}

.page .container .middle .change img {
    margin-right: 2rem;
}

.page .container .middle .change a {
    font-size: 1.7rem;
}

.page .container .middle .change .change-text {
    margin-right: auto;
}