:root {
    /* Primary */
    
    
    --pale-blue: hsl(225, 100%, 94%); /*background */
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */

    --very-pale-blue: hsl(225, 100%, 98%); /*Container*/
    --Desaturated-blue: hsl(224, 23%, 55%); /*p*/
    --Dark-blue: hsl(223, 47%, 23%);    /*h1,h2*/
}